In [183]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType
import json
import pandas as pd

In [184]:
spark = spark = SparkSession.builder \
    .appName("pyspark_test") \
    .getOrCreate()

In [185]:
file_path = '../data/Team_Liquid_vs_Sentinels.json'
with open(file_path, 'r') as f:
    data = json.load(f)

### get match event data

In [186]:
# Function that gets event and date stats for a match
def get_match_event_stats():
    match_name = list(data.keys())[0]
    print(match_name)

    team1, team2 = match_name.split('_vs_')
    team1_name = team1.replace('_', ' ')
    team2_name = team2.replace('_', ' ')


    event_stats = data[match_name][0]
    event_stats

    event_stats_df_pd = pd.DataFrame(data[list(data.keys())[0]][0], index=[0])

    return spark.createDataFrame(event_stats_df_pd), match_name, team1_name, team2_name
    
event_stats_df, match_name, team1_name, team2_name = get_match_event_stats()
event_stats_df.show()

Team_Liquid_vs_Sentinels
+--------------------+----------+-----------+-------------+
|               Event|      Date|      Stage|        Round|
+--------------------+----------+-----------+-------------+
|Champions Tour 20...|2025-02-23|Swiss Stage|Round 2 (0-1)|
+--------------------+----------+-----------+-------------+

In [187]:
map_list = list(data[match_name][1].keys())

### get team map data

In [188]:
# Function that gets team stats for each map in the match
def get_team_map_data(match_name, map_list):

    map_scored_df_pd = pd.DataFrame(columns=['Map', 'Winner', 'TeamOneName', 'TeamOneAbbreviation', 'TeamTwoName', 'TeamTwoAbbreviation' ,'TeamOneFinalScore', 'TeamOneCTScore', 'TeamOneTScore', 'TeamOneOTScore', 'TeamTwoFinalScore', 'TeamTwoCTScore', 'TeamTwoTScore', 'TeamTwoOTScore'])

    for i in map_list:
        map_name = i

        team1_stats = data[match_name][1][i]['Team Stats: '][team1_name]
        team2_stats = data[match_name][1][i]['Team Stats: '][team2_name]

        first_player = list(data[match_name][1][i]['Player Stats'].keys())[0]
        last_player = list(data[match_name][1][i]['Player Stats'].keys())[-1]

        team1_abbr = data[match_name][1][i]['Player Stats'][first_player]["Team"]
    
        team2_abbr = data[match_name][1][i]['Player Stats'][last_player]["Team"]

        team1_score = int(team1_stats['final'])
        team2_score = int(team2_stats['final'])
    

        winner = team1_name if int(team1_score) > int(team2_score) else team2_name

        temp_df1 = pd.DataFrame({'Map': map_name, 'Winner': winner, 'TeamOneName': team1_name,'TeamOneAbbreviation' : team1_abbr ,'TeamTwoName': team2_name, 'TeamTwoAbbreviation' : team2_abbr ,'TeamOneFinalScore': team1_stats['final'], 'TeamOneCTScore': team1_stats['CT'], 'TeamOneTScore' : team1_stats['T'], 'TeamOneOTScore' : team1_stats['OT'], 'TeamTwoFinalScore': team2_stats['final'], 'TeamTwoCTScore' : team2_stats['CT'], 'TeamTwoTScore' : team2_stats['T'], 'TeamTwoOTScore' : team2_stats['CT']}, index=[0])

        map_scored_df_pd = pd.concat([map_scored_df_pd, temp_df1], ignore_index=True)


    return spark.createDataFrame(map_scored_df_pd), map_scored_df_pd, team1_abbr, team2_abbr

map_scored_df_spark, map_scored_df_pd, team1_abbr, team2_abbr = get_team_map_data(match_name, map_list)
map_scored_df_spark.show()

+-----+-----------+-----------+-------------------+-----------+-------------------+-----------------+--------------+-------------+--------------+-----------------+--------------+-------------+--------------+
|  Map|     Winner|TeamOneName|TeamOneAbbreviation|TeamTwoName|TeamTwoAbbreviation|TeamOneFinalScore|TeamOneCTScore|TeamOneTScore|TeamOneOTScore|TeamTwoFinalScore|TeamTwoCTScore|TeamTwoTScore|TeamTwoOTScore|
+-----+-----------+-----------+-------------------+-----------+-------------------+-----------------+--------------+-------------+--------------+-----------------+--------------+-------------+--------------+
|Lotus|  Sentinels|Team Liquid|                 TL|  Sentinels|                SEN|                7|             2|            5|             0|               13|             7|            6|             7|
|Abyss|Team Liquid|Team Liquid|                 TL|  Sentinels|                SEN|               16|             7|            5|             4|               14|             7|            5|             7|
| Bind|Team Liquid|Team Liquid|                 TL|  Sentinels|                SEN|               13|            11|            2|             0|                1|             0|            1|             0|
+-----+-----------+-----------+-------------------+-----------+-------------------+-----------------+--------------+-------------+--------------+-----------------+--------------+-------------+--------------+

### get map player data

In [189]:
# Function that gets player stats for each map in the match
def get_map_player_data(map_list):

    map_player_stats_df_pd = pd.DataFrame(columns=['Map', 'PlayerName', 'Agent', 'Team', 'ACS_Overall','ACS_T', 'ACS_CT', 'Kills_Overall', 'Kills_T', 'Kills_CT',  'Deaths_Overall', 'Deaths_T', 'Deaths_CT', 'Assists_Overall', 'Assists_T', 'Assists_CT', 'KAST_Overall', 'KAST_T', 'KAST_CT', 'ADR_Overall', 'ADR_T', 'ADR_CT', 'HSPercentage_Overall', 'HSPercentage_T', 'HSPercentage_CT', 'FirstKills_Overall', 'FirstKills_T', 'FirstKills_CT', 'FirstDeaths_Overall', 'FirstDeaths_T', 'FirstDeaths_CT'])

    for i in map_list:
        map_name = i

        map_player_stats = data[match_name][1][i]['Player Stats']
    
        for player in map_player_stats:
            player_name = player
            player_stats = map_player_stats[player]

            temp_df3 = pd.DataFrame({'Map' : map_name,'PlayerName': player_name, 'Agent': player_stats['Agent'], 'Team' : player_stats['Team'], 'ACS_Overall': player_stats['ACS']['All'], 'ACS_T':player_stats['ACS']['T'], 'ACS_CT': player_stats['ACS']['CT'], 'Kills_Overall' : player_stats['Elims']['All'], 'Kills_T': player_stats['Elims']['T'], 'Kills_CT': player_stats['Elims']['CT'], 'Deaths_Overall' : player_stats['Deaths']['All'], 'Deaths_T': player_stats['Deaths']['T'], 'Deaths_CT': player_stats['Deaths']['CT'], 'Assists_Overall' : player_stats['Assists']['All'], 'Assists_T': player_stats['Assists']['T'], 'Assists_CT': player_stats['Assists']['CT'], 'KAST_Overall' :player_stats['KAST']['All'], 'KAST_T': player_stats['KAST']['T'], 'KAST_CT': player_stats['KAST']['CT'], 'ADR_Overall' : player_stats['ADR']['All'], 'ADR_T': player_stats['ADR']['T'], 'ADR_CT': player_stats['ADR']['CT'], 'HSPercentage_Overall' : player_stats['HS_percentage']['All'], 'HSPercentage_T': player_stats['HS_percentage']['T'], 'HSPercentage_CT': player_stats['HS_percentage']['CT'], 'FirstKills_Overall' : player_stats['First Kills']['All'], 'FirstKills_T': player_stats['First Kills']['T'], 'FirstKills_CT': player_stats['First Kills']['CT'], 'FirstDeaths_Overall' : player_stats['First Deaths']['All'], 'FirstDeaths_T': player_stats['First Deaths']['T'], 'FirstDeaths_CT': player_stats['First Deaths']['CT']}, index=[0])

            map_player_stats_df_pd = pd.concat([map_player_stats_df_pd, temp_df3], ignore_index=True)

    return spark.createDataFrame(map_player_stats_df_pd), map_player_stats_df_pd

map_player_stats_df__spark, map_player_stats_df_pd = get_map_player_data(map_list)

map_player_stats_df__spark.show(5)

+-----+----------+------+----+-----------+-----+------+-------------+-------+--------+--------------+--------+---------+---------------+---------+----------+------------+------+-------+-----------+-----+------+--------------------+--------------+---------------+------------------+------------+-------------+-------------------+-------------+--------------+
|  Map|PlayerName| Agent|Team|ACS_Overall|ACS_T|ACS_CT|Kills_Overall|Kills_T|Kills_CT|Deaths_Overall|Deaths_T|Deaths_CT|Assists_Overall|Assists_T|Assists_CT|KAST_Overall|KAST_T|KAST_CT|ADR_Overall|ADR_T|ADR_CT|HSPercentage_Overall|HSPercentage_T|HSPercentage_CT|FirstKills_Overall|FirstKills_T|FirstKills_CT|FirstDeaths_Overall|FirstDeaths_T|FirstDeaths_CT|
+-----+----------+------+----+-----------+-----+------+-------------+-------+--------+--------------+--------+---------+---------------+---------+----------+------------+------+-------+-----------+-----+------+--------------------+--------------+---------------+------------------+------------+-------------+-------------------+-------------+--------------+
|Lotus|      nAts|Cypher|  TL|        293|  254|   354|           22|     12|      10|             1|       8|        6|              2|        2|         0|         80%|   83%|    75%|        197|  162|   248|                 39%|           44%|            33%|                 1|           0|            1|                  1|            1|             0|
|Lotus|     Keiko|  Omen|  TL|        192|  276|    68|           14|     12|       2|             1|       8|        6|              8|        6|         2|         65%|   75%|    50%|        141|  201|    51|                 59%|           58%|            67%|                 3|           3|            0|                  4|            2|             2|
|Lotus|   paTiTek|Breach|  TL|        151|  157|   143|           11|      7|       4|             1|       8|        7|              6|        6|         0|         65%|   75%|    50%|         92|   95|    88|                 21%|           28%|            13%|                 0|           0|            0|                  3|            0|             3|
|Lotus|     kamyk|  Tejo|  TL|        136|  112|   173|            9|      4|       5|             1|       8|        7|              4|        4|         0|         50%|   50%|    50%|         81|   77|    88|                 42%|           17%|            86%|                 2|           1|            1|                  1|            0|             1|
|Lotus|      kamo|  Yoru|  TL|         97|  112|    76|            6|      4|       2|             1|      10|        7|              4|        4|         0|         45%|   50%|    38%|         69|   81|    49|                 17%|           13%|            33%|                 1|           1|            0|                  4|            4|             0|
+-----+----------+------+----+-----------+-----+------+-------------+-------+--------+--------------+--------+---------+---------------+---------+----------+------------+------+-------+-----------+-----+------+--------------------+--------------+---------------+------------------+------------+-------------+-------------------+-------------+--------------+
only showing top 5 rows

### get match aggregate data

### team data

In [190]:
# Function to get aggregate team data for the entire match over all maps
def get_agg_team_data(match_name, map_list):
    map_scored_df_spark, map_scored_df_pd, team1_abbr, team2_abbr = get_team_map_data(match_name, map_list)

    map_scored_df_pd = map_scored_df_pd.astype({ 'TeamOneFinalScore' : int, 'TeamOneCTScore' : int, 'TeamOneTScore' : int, 'TeamOneOTScore' : int, 'TeamTwoFinalScore' : int, 'TeamTwoCTScore' : int, 'TeamTwoTScore' : int, 'TeamTwoOTScore' : int})

    column_sums = map_scored_df_pd.sum(axis=0)

    match_scored_df_pd_sums = column_sums.to_frame()
    match_scored_df_pd_t = match_scored_df_pd_sums.transpose()
    team_match_scored_df_pd = match_scored_df_pd_t[['TeamOneName','TeamOneAbbreviation','TeamTwoName', 'TeamTwoAbbreviation','TeamOneFinalScore', 'TeamOneCTScore', 'TeamOneTScore', 'TeamOneOTScore', 'TeamTwoFinalScore', 'TeamTwoCTScore', 'TeamTwoTScore', 'TeamTwoOTScore']]
    team_match_scored_df_pd.at[0, 'TeamOneName'] = team1_name
    team_match_scored_df_pd.at[0, 'TeamTwoName'] = team2_name
    team_match_scored_df_pd.at[0, 'TeamOneAbbreviation'] = team1_abbr
    team_match_scored_df_pd.at[0, 'TeamTwoAbbreviation'] = team2_abbr

    team_match_scored_df_pd = team_match_scored_df_pd.astype({ 'TeamOneFinalScore' : int, 'TeamOneCTScore' : int, 'TeamOneTScore' : int, 'TeamOneOTScore' : int, 'TeamTwoFinalScore' : int, 'TeamTwoCTScore' : int, 'TeamTwoTScore' : int, 'TeamTwoOTScore' : int})


    schema = StructType([
        StructField('TeamOneName', StringType(), True),
        StructField('TeamOneAbbreviation', StringType(), True),
        StructField('TeamTwoName', StringType(), True),
        StructField('TeamOneAbbreviation', StringType(), True),
        StructField('TeamOneFinalScore', IntegerType(), True),
        StructField('TeamOneCTScore', IntegerType(), True),
        StructField('TeamOneTScore', IntegerType(), True),
        StructField('TeamOneOTScore', IntegerType(), True),
        StructField('TeamTwoFinalScore', IntegerType(), True),
        StructField('TeamTwoCTScore', IntegerType(), True),
        StructField('TeamTwoTScore', IntegerType(), True),
        StructField('TeamTwoOTScore', IntegerType(), True),
    ])

    return spark.createDataFrame(team_match_scored_df_pd, schema=schema),  team_match_scored_df_pd

team_match_agg_df_sprk, team_match_agg_df_pd = get_agg_team_data(match_name, map_list)

team_match_agg_df_sprk.show()

+-----------+-------------------+-----------+-------------------+-----------------+--------------+-------------+--------------+-----------------+--------------+-------------+--------------+
|TeamOneName|TeamOneAbbreviation|TeamTwoName|TeamOneAbbreviation|TeamOneFinalScore|TeamOneCTScore|TeamOneTScore|TeamOneOTScore|TeamTwoFinalScore|TeamTwoCTScore|TeamTwoTScore|TeamTwoOTScore|
+-----------+-------------------+-----------+-------------------+-----------------+--------------+-------------+--------------+-----------------+--------------+-------------+--------------+
|Team Liquid|                 TL|  Sentinels|                SEN|               36|            20|           12|             4|               28|            14|           12|            14|
+-----------+-------------------+-----------+-------------------+-----------------+--------------+-------------+--------------+-----------------+--------------+-------------+--------------+

### Player Data

In [191]:
# Function to get aggregate player data for the entire match over all maps
def get_agg_player_data(map_list):
    map_player_stats_df__spark, map_player_stats_df_pd = get_map_player_data(map_list)

    map_player_stats_df_pd_trim = map_player_stats_df_pd.copy()

    map_player_stats_df_pd_trim['KAST_Overall'] = map_player_stats_df_pd_trim['KAST_Overall'].str.replace('%', '').astype(float)
    map_player_stats_df_pd_trim['KAST_CT'] = map_player_stats_df_pd_trim['KAST_CT'].str.replace('%', '').astype(float)
    map_player_stats_df_pd_trim['KAST_T'] = map_player_stats_df_pd_trim['KAST_T'].str.replace('%', '').astype(float)
    map_player_stats_df_pd_trim['HSPercentage_Overall'] = map_player_stats_df_pd_trim['HSPercentage_Overall'].str.replace('%', '').astype(float)
    map_player_stats_df_pd_trim['HSPercentage_CT'] = map_player_stats_df_pd_trim['HSPercentage_CT'].str.replace('%', '').astype(float)
    map_player_stats_df_pd_trim['HSPercentage_T'] = map_player_stats_df_pd_trim['HSPercentage_T'].str.replace('%', '').astype(float)

    map_player_stats_df_pd_trim = map_player_stats_df_pd_trim.astype({'ACS_Overall': 'int', 'ACS_T': 'int', 'ACS_CT':  'int', 'Kills_Overall' : 'int', 'Kills_T': 'int', 'Kills_CT': 'int', 'Deaths_Overall' : 'int', 'Deaths_T': 'int', 'Deaths_CT': 'int', 'Assists_Overall' : 'int', 'Assists_T': 'int', 'Assists_CT': 'int', 'KAST_Overall' : 'float', 'KAST_T':  'float', 'KAST_CT':  'float', 'ADR_Overall' :  'int', 'ADR_T':  'int', 'ADR_CT':  'int', 'HSPercentage_Overall' :  'float', 'HSPercentage_T':  'float', 'HSPercentage_CT':  'float', 'FirstKills_Overall' : 'int', 'FirstKills_T': 'int', 'FirstKills_CT': 'int', 'FirstDeaths_Overall' : 'int', 'FirstDeaths_T': 'int', 'FirstDeaths_CT': 'int'})

    agg_player_stats_df_pd = map_player_stats_df_pd_trim.groupby('PlayerName').agg({'ACS_Overall': 'mean', 'ACS_T': 'mean', 'ACS_CT':  'mean', 'Kills_Overall' : 'sum', 'Kills_T': 'sum', 'Kills_CT': 'sum', 'Deaths_Overall' : 'sum', 'Deaths_T': 'sum', 'Deaths_CT': 'sum', 'Assists_Overall' : 'sum', 'Assists_T': 'sum', 'Assists_CT': 'sum', 'KAST_Overall' : 'mean', 'KAST_T':  'mean', 'KAST_CT':  'mean', 'ADR_Overall' :  'mean', 'ADR_T':  'mean', 'ADR_CT':  'mean', 'HSPercentage_Overall' :  'mean', 'HSPercentage_T':  'mean', 'HSPercentage_CT':  'mean', 'FirstKills_Overall' : 'sum', 'FirstKills_T': 'sum', 'FirstKills_CT': 'sum', 'FirstDeaths_Overall' : 'sum', 'FirstDeaths_T': 'sum', 'FirstDeaths_CT': 'sum'}).round(2)

    agg_player_stats_df_pd.reset_index(inplace=True)

    return spark.createDataFrame(agg_player_stats_df_pd), agg_player_stats_df_pd

agg_player_stats_df_spark, agg_player_stats_df_pd = get_agg_player_data(map_list)

agg_player_stats_df_spark.show()

+----------+-----------+------+------+-------------+-------+--------+--------------+--------+---------+---------------+---------+----------+------------+------+-------+-----------+------+------+--------------------+--------------+---------------+------------------+------------+-------------+-------------------+-------------+--------------+
|PlayerName|ACS_Overall| ACS_T|ACS_CT|Kills_Overall|Kills_T|Kills_CT|Deaths_Overall|Deaths_T|Deaths_CT|Assists_Overall|Assists_T|Assists_CT|KAST_Overall|KAST_T|KAST_CT|ADR_Overall| ADR_T|ADR_CT|HSPercentage_Overall|HSPercentage_T|HSPercentage_CT|FirstKills_Overall|FirstKills_T|FirstKills_CT|FirstDeaths_Overall|FirstDeaths_T|FirstDeaths_CT|
+----------+-----------+------+------+-------------+-------+--------+--------------+--------+---------+---------------+---------+----------+------------+------+-------+-----------+------+------+--------------------+--------------+---------------+------------------+------------+-------------+-------------------+-------------+--------------+
|     Keiko|     212.33| 335.0|167.33|           54|     28|      26|             9|      20|       20|             27|       12|        15|        78.0| 87.33|  72.67|     140.67| 213.0| 109.0|               37.67|         41.33|           39.0|                 7|           5|            2|                  6|            2|             4|
|   N4RRATE|      230.0|220.33|294.33|           55|     25|      30|             4|      28|       21|             21|        9|        12|       74.67| 70.67|   90.0|     150.67|148.67|174.67|               25.67|          25.0|          28.33|                 9|           2|            7|                  3|            2|             1|
|   Zellsis|     174.67|164.67|153.67|           34|     15|      19|             4|      32|       20|             29|       22|         7|        74.0| 76.67|   79.0|      114.0| 107.0|  97.0|               24.67|          22.0|           36.0|                 4|           3|            1|                  5|            3|             2|
|      bang|     186.33|188.33| 154.0|           38|     22|      16|             4|      24|       21|             20|       11|         9|       70.33| 75.67|  63.33|     114.67| 110.0| 94.67|               29.67|          34.0|          51.67|                 7|           4|            3|                  6|            2|             4|
|    johnqt|      160.0|159.33| 149.0|           37|     22|      15|             4|      26|       19|             18|        6|        12|       69.67|  80.0|   69.0|      101.0| 99.33|105.67|               20.67|          25.0|           13.0|                 1|           0|            1|                  1|            0|             1|
|      kamo|     190.33|149.67| 206.0|           41|     13|      28|             9|      23|       23|             12|        6|         6|        68.0| 74.33|  66.67|     126.67|111.67|132.33|               25.67|         28.33|          29.33|                11|           4|            7|                 14|           10|             4|
|     kamyk|      177.0| 144.0|186.67|           39|     15|      24|            12|      21|       23|             13|       10|         3|       74.33| 76.67|  72.33|      112.0| 82.33|116.33|               30.67|         48.67|          43.67|                 4|           1|            3|                  2|            0|             2|
|      nAts|     305.33| 211.0| 359.0|           66|     20|      46|            10|      20|       20|             13|        6|         7|        80.0| 76.67|  82.67|     197.33|157.67|231.33|               27.67|          45.0|          23.67|                 6|           0|            6|                  6|            4|             2|
|   paTiTek|     151.67| 197.0| 131.0|           32|     18|      14|            11|      21|       22|             36|       17|        19|       82.67| 89.33|  76.33|      97.33| 125.0| 85.33|               24.33|          29.0|           19.0|                 4|           3|            1|                  4|            0|             4|
|    zekken|     210.33|230.33|160.67|           49|     25|      24|             4|      28|       16|              8|        3|         5|        65.0|  64.0|   81.0|     140.67|153.67|104.33|                31.0|          33.0|          21.67|                11|           7|            4|                 17|           12|             5|
+----------+-----------+------+------+-------------+-------+--------+--------------+--------+---------+---------------+---------+----------+------------+------+-------+-----------+------+------+--------------------+--------------+---------------+------------------+------------+-------------+-------------------+-------------+--------------+

### Get Team Info Data

In [192]:
#Function to get team info data

def get_team_info(match_name, map_list):
    team_match_agg_df_sprk, team_match_agg_df_pd = get_agg_team_data(match_name, map_list)

    team_match_agg_df_pd_sub = team_match_agg_df_pd[['TeamOneName', 'TeamOneAbbreviation', 'TeamTwoName', 'TeamTwoAbbreviation']]

    team_info_dict = {
        'TeamName' : [team_match_agg_df_pd_sub.at[0,'TeamOneName'], team_match_agg_df_pd_sub.at[0,'TeamTwoName']],
        'TeamAbbreviation' : [team_match_agg_df_pd_sub.at[0,'TeamOneAbbreviation'], team_match_agg_df_pd_sub.at[0,'TeamTwoAbbreviation']]
    }

    team_info_df = pd.DataFrame(team_info_dict)



    return spark.createDataFrame(team_info_df), team_info_df

team_info_df_spark, team_info_df_pd = get_team_info(match_name, map_list)
team_info_df_spark.show()

+-----------+----------------+
|   TeamName|TeamAbbreviation|
+-----------+----------------+
|Team Liquid|              TL|
|  Sentinels|             SEN|
+-----------+----------------+

### Get Player Info Data

In [193]:
# Function to get player info data
def get_player_info(map_list):
    map_player_stats_df__spark, map_player_stats_df_pd = get_map_player_data(map_list)

    player_name_list = map_player_stats_df_pd['PlayerName'].unique()

    player_info_df = pd.DataFrame({'PlayerName' : player_name_list})

    return spark.createDataFrame(player_info_df), player_info_df

player_info_df_spark, player_info_df_pd = get_player_info(map_list)
player_info_df_spark.show()

+----------+
|PlayerName|
+----------+
|      nAts|
|     Keiko|
|   paTiTek|
|     kamyk|
|      kamo|
|      bang|
|    zekken|
|   N4RRATE|
|    johnqt|
|   Zellsis|
+----------+

### Get Map Info Data

In [194]:
# Function to get map info data
def get_map_info(map_list):

    map_df = pd.DataFrame({'MapName' : map_list})

    return spark.createDataFrame(map_df), map_df

map_df_spark, map_df_pd = get_map_info(map_list)
map_df_spark.show()

+-------+
|MapName|
+-------+
|  Lotus|
|  Abyss|
|   Bind|
+-------+